.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.wide-table {
  overflow-x: auto;
}

.logo {
  max-height: 150px;
  float: left;
}